<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>minimvvm</title>
</head>
<body>
    <div id="mvvm-app">
        <input type="text" v-model="someStr">
        <input type="text" v-model="child.someStr">
        <p>{{getHelloWorld}}</p>
        <p v-html="child.someStr"></p>
        <p>watch: {{watchStr}}</p>
        <button v-on:click="clickBtn">change model</button>
    </div>
</body>
<script src="./js/observer.js"></script>
<script src="./js/watcher.js"></script>
<script src="./js/compile.js"></script>
<script src="./js/mvvm.js"></script>
<script>
    var vm = new MVVM({
        el: '#mvvm-app',
        data: {
            someStr: 'hello',
            child: {
                someStr: 'World!'
            },
            watchStr: ''
        },
        computed: {
            getHelloWorld: function() {
                return this.someStr + this.child.someStr;
            }
        },
        methods: {
            clickBtn: function(e) {
                var randomStrArr = ['childOne', 'childTwo', 'childThree'];
                this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
            }
        },
        watch: {
            'child.someStr': function(options) {
                console.log('watch success..');
                this.watchStr = options;
            }
        }
    });
</script>
</html>